<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/VehicleTable/Start"><img src="/uploads/en/Flag.png"/><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ca/Taula de vehicles/Capçalera"><img src="/uploads/ca/Flag.png"/><br/>CA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/FahrzeugListe/Start"><img src="/uploads/de/Flag.png"/><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Tabla de vehículos/Encabezado"><img src="/uploads/es/Flag.png"/><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Tableau des véhicules/En-tête"><img src="/uploads/fr/Flag.png"/><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/JárműTáblázat/Fejléc"><img src="/uploads/hu/Flag.png"/><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/TabellaVeicoli/Intestazioni"><img src="/uploads/it/Flag.png"/><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Voertuigentabel/Start"><img src="/uploads/nl/Flag.png"/><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Шапка транспортно-климатической таблицы"><img src="/uploads/ru/Flag.png"/><br/>RU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/tr/AraçTablosu/Başlangıç"><img src="/uploads/tr/Flag.png"/><br/>TR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/tr/Trash/Araç Tablosu/Başlangıç"><img src="/uploads/Trash/Flag.png"/><br/>TRASH</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/tr/Trash/AraçTablosu/Başlangıç"><img src="/uploads/Trash/Flag.png"/><br/>TRASH</a></div>
</div>
<div style="clear:both"></div>
