<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Ambox"><img src="/uploads/en/Flag.png"/><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ca/Metacaixa d'avís"><img src="/uploads/ca/Flag.png"/><br/>CA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/Ambox"><img src="/uploads/de/Flag.png"/><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/Infofenster"><img src="/uploads/de/Flag.png"/><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Metaplantilla de avisos"><img src="/uploads/es/Flag.png"/><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Fenêtre de message"><img src="/uploads/fr/Flag.png"/><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/Ambox"><img src="/uploads/it/Flag.png"/><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pt/Ambox"><img src="/uploads/pt/Flag.png"/><br/>PT</a></div>
</div>
<div style="clear:both"></div>
