<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Cargo"><img src="/uploads/en/Flag.png"</img><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/cs/Náklad"><img src="/uploads/cs/Flag.png"</img><br/>CS</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/Fracht"><img src="/uploads/de/Flag.png"</img><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Carga"><img src="/uploads/es/Flag.png"</img><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Cargaison"><img src="/uploads/fr/Flag.png"</img><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/Rakomány"><img src="/uploads/hu/Flag.png"</img><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/Carico"><img src="/uploads/it/Flag.png"</img><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ko/화물"><img src="/uploads/ko/Flag.png"</img><br/>KO</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Vracht"><img src="/uploads/nl/Flag.png"</img><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Ładunek"><img src="/uploads/pl/Flag.png"</img><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pt/Cargas"><img src="/uploads/pt/Flag.png"</img><br/>PT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Груз"><img src="/uploads/ru/Flag.png"</img><br/>RU</a></div>
</div>
