<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Main/it/Catmore"><img src="/uploads/it/Flag.png"</img><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Artículo principal"><img src="/uploads/es/Flag.png"</img><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/Főcikk"><img src="/uploads/hu/Flag.png"</img><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Основная статья"><img src="/uploads/ru/Flag.png"</img><br/>RU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/uk/Основна стаття"><img src="/uploads/uk/Flag.png"</img><br/>UK</a></div>
</div>
