<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Junction Criteria"><img src="/uploads/en/Flag.png"</img><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/Kreuzungskriterien"><img src="/uploads/de/Flag.png"</img><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Criterios sobre cruces"><img src="/uploads/es/Flag.png"</img><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Critère de jonction"><img src="/uploads/fr/Flag.png"</img><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/Requisiti nodo"><img src="/uploads/it/Flag.png"</img><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Kruispuntcriteria"><img src="/uploads/nl/Flag.png"</img><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Критерии развязки"><img src="/uploads/ru/Flag.png"</img><br/>RU</a></div>
</div>
