<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Navbox Industries"><img src="/uploads/en/Flag.png"/><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Navbox industrias"><img src="/uploads/es/Flag.png"/><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/Navbox Gazdasági épületek"><img src="/uploads/hu/Flag.png"/><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Navbox Industrieën"><img src="/uploads/nl/Flag.png"/><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Navbox Industries"><img src="/uploads/pl/Flag.png"/><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Navbox Промышленность"><img src="/uploads/ru/Flag.png"/><br/>RU</a></div>
</div>
<div style="clear:both"></div>
