<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Outdated"><img src="/File/en/Flag.png"/><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ca/Desactualitzat"><img src="/File/ca/Flag.png"/><br/>CA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/Veraltet"><img src="/File/de/Flag.png"/><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Desactualizado"><img src="/File/es/Flag.png"/><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Dépassé"><img src="/File/fr/Flag.png"/><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Verlopen"><img src="/File/nl/Flag.png"/><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Nieaktualizowane"><img src="/File/pl/Flag.png"/><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Nieaktualne"><img src="/File/pl/Flag.png"/><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Устарело"><img src="/File/ru/Flag.png"/><br/>RU</a></div>
</div>
<div style="clear:both"></div>
