<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Railway toolbar overview"><img src="/uploads/en/Flag.png"/><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ca/Vista barra d'eines de ferrocarril"><img src="/uploads/ca/Flag.png"/><br/>CA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/cs/Přehled nabídky železnic"><img src="/uploads/cs/Flag.png"/><br/>CS</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Vista barra de herramientas Ferrocarril"><img src="/uploads/es/Flag.png"/><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Barre voie ferrée"><img src="/uploads/fr/Flag.png"/><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/Vasúti pályaépítő eszköztár áttekintés"><img src="/uploads/hu/Flag.png"/><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/PanoramicaBarraCostruzioneFerrovie"><img src="/uploads/it/Flag.png"/><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ko/철로 건설 개요"><img src="/uploads/ko/Flag.png"/><br/>KO</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Overzicht Bouw spoorwegen werkbalk"><img src="/uploads/nl/Flag.png"/><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Pasek Konstrukcji Torowiska"><img src="/uploads/pl/Flag.png"/><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Меню строительства жд"><img src="/uploads/ru/Flag.png"/><br/>RU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/tr/Demiryolu Araç Çubuğuna Genel Bakış"><img src="/uploads/tr/Flag.png"/><br/>TR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/zh/铁路工具条总览"><img src="/uploads/zh/Flag.png"/><br/>ZH</a></div>
</div>
<div style="clear:both"></div>
