<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Table of contents"><img src="/File/en/Flag.png"/><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/sr/Trash/Sadržaj"><img src="/File/sr/Flag.png"/><br/>SR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ca/Taula de contingut"><img src="/File/ca/Flag.png"/><br/>CA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/cs/Obsah"><img src="/File/cs/Flag.png"/><br/>CS</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/Inhaltsverzeichnis"><img src="/File/de/Flag.png"/><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/el/Πίνακας περιεχομένων"><img src="/File/el/Flag.png"/><br/>EL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Tabla de contenido"><img src="/File/es/Flag.png"/><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fi/Sisällysluettelo"><img src="/File/fi/Flag.png"/><br/>FI</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Table des matières"><img src="/File/fr/Flag.png"/><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/Tartalomjegyzék"><img src="/File/hu/Flag.png"/><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/Indice dei contenuti"><img src="/File/it/Flag.png"/><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ja/目次"><img src="/File/ja/Flag.png"/><br/>JA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ko/목차"><img src="/File/ko/Flag.png"/><br/>KO</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Inhoudsopgave"><img src="/File/nl/Flag.png"/><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/no/Innhold"><img src="/File/no/Flag.png"/><br/>NO</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Spis treści"><img src="/File/pl/Flag.png"/><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pt/Tabela de conteúdos"><img src="/File/pt/Flag.png"/><br/>PT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pt/Tabela de Conteúdos"><img src="/File/pt/Flag.png"/><br/>PT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ro/Tabelul de conținut"><img src="/File/ro/Flag.png"/><br/>RO</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Оглавление"><img src="/File/ru/Flag.png"/><br/>RU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/sr/Sadržaj"><img src="/File/sr/Flag.png"/><br/>SR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/tr/İçindekiler"><img src="/File/tr/Flag.png"/><br/>TR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/uk/Зміст"><img src="/File/uk/Flag.png"/><br/>UK</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/zh/目录"><img src="/File/zh/Flag.png"/><br/>ZH</a></div>
</div>
<div style="clear:both"></div>
