<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Translation"><img src="/uploads/en/Flag.png"</img><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ca/Traducció"><img src="/uploads/ca/Flag.png"</img><br/>CA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/Übersetzung"><img src="/uploads/de/Flag.png"</img><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Traducción"><img src="/uploads/es/Flag.png"</img><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Traduction"><img src="/uploads/fr/Flag.png"</img><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/gd/Eadar-theangachadh"><img src="/uploads/gd/Flag.png"</img><br/>GD</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/Fordítás"><img src="/uploads/hu/Flag.png"</img><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/Traduzione"><img src="/uploads/it/Flag.png"</img><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ko/번역"><img src="/uploads/ko/Flag.png"</img><br/>KO</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Vertaling"><img src="/uploads/nl/Flag.png"</img><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Tłumaczenie"><img src="/uploads/pl/Flag.png"</img><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pt/Tradução"><img src="/uploads/pt/Flag.png"</img><br/>PT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Перевод"><img src="/uploads/ru/Flag.png"</img><br/>RU</a></div>
</div>
