<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Tutorial"><img src="/uploads/en/Flag.png"</img><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ca/Tutorial"><img src="/uploads/ca/Flag.png"</img><br/>CA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/cs/Cvičení"><img src="/uploads/cs/Flag.png"</img><br/>CS</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/de/Tutorial"><img src="/uploads/de/Flag.png"</img><br/>DE</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Tutorial"><img src="/uploads/es/Flag.png"</img><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fi/Tutorial"><img src="/uploads/fi/Flag.png"</img><br/>FI</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Tutoriel"><img src="/uploads/fr/Flag.png"</img><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/gd/Oideachadh"><img src="/uploads/gd/Flag.png"</img><br/>GD</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/Oktatás"><img src="/uploads/hu/Flag.png"</img><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/Tutorial"><img src="/uploads/it/Flag.png"</img><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ko/튜토리얼"><img src="/uploads/ko/Flag.png"</img><br/>KO</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Tutorial"><img src="/uploads/nl/Flag.png"</img><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Tutorial"><img src="/uploads/pl/Flag.png"</img><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pt/Tutorial"><img src="/uploads/pt/Flag.png"</img><br/>PT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Учебник"><img src="/uploads/ru/Flag.png"</img><br/>RU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/sr/Vodič"><img src="/uploads/sr/Flag.png"</img><br/>SR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/tr/Öğretici"><img src="/uploads/tr/Flag.png"</img><br/>TR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/zh/教程"><img src="/uploads/zh/Flag.png"</img><br/>ZH</a></div>
</div>
