<div style="float: right; border: 1px solid #c7c8fe; background-color: #EEE; padding:0px;">
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/en/Types of railways"><img src="/uploads/en/Flag.png"/><br/>EN</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ca/Tipus de ferrocarrils"><img src="/uploads/ca/Flag.png"/><br/>CA</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/es/Tipos de ferrocarril"><img src="/uploads/es/Flag.png"/><br/>ES</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/fr/Type de chemin de fer"><img src="/uploads/fr/Flag.png"/><br/>FR</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/hu/Vasúti pálya típusai"><img src="/uploads/hu/Flag.png"/><br/>HU</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/it/Tipi di ferrovia"><img src="/uploads/it/Flag.png"/><br/>IT</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/nl/Typen spoorweg"><img src="/uploads/nl/Flag.png"/><br/>NL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/pl/Typy kolei"><img src="/uploads/pl/Flag.png"/><br/>PL</a></div>
<div style="display:inline-block;  height: 3em; width: 26px; text-align:center;"><a href="/Template/ru/Типы железных дорог"><img src="/uploads/ru/Flag.png"/><br/>RU</a></div>
</div>
<div style="clear:both"></div>
